 * {
    box-sizing: border-box;
 }

 body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
 }

 ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
 }

 a {
    text-decoration: none;
 }

 .header {
    display: flex;
    justify-content: space-between;
    width: 900px;
 }

 .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
 }

 .big-one {
   background-color: #1F2937;
 }

 .text-holder, .image-placeholder {
    height: 200px;
    width: 450px;
    display: flex;
 }

 .text-holder {
    flex-direction: column;
    justify-content: center;
 }

 .image-placeholder {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #E5E7EB;
 }

 .content-holder {
    display: flex;
    
 }

 .hero {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 500px;
    gap: 100px;
 }

 .one {
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8;
 }

 .two, a {
   font-size: 18px;
   color: #E5E7EB;
 }

 .logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
 }

 .hero-button, .action-button {
   display: inline-block;
   width: 90px;
   color: #F9FAF8;
   background-color: #3882F6;
   border-radius: 5px;
   padding: 3px;
   font-family: inherit;
 }

 .hero-button {
   border: none;
 }

 .card-container {
   display: flex;
   gap: 40px;
 }

 .holder {
   display: flex;
   flex-direction: column;
   width:160px;
 }

 .card {
   display: flex;
   width: 150px;
   height:150px ;
   border-style: solid;
   border-color: #3882F6;
   border-width: 3px;
   border-radius: 20px;
 }

 .text {
   display: flex;
   width: 500px;
   align-items: center;
   justify-content: center;
   margin: 30px;
   font-size: 36px;
   font-weight: bolder;
   color: #1F2937;
 }

 .big-two {
   height: 400px;
   justify-content: flex-start;
 }

 .card-text {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   font-weight: lighter;
 }

 .quote-holder {
   display: flex;
   flex-direction: column;
   width: 700px;
   justify-content: center;
   align-items: center;
 }

 .quote, .customer {
   display: flex;
   flex-wrap: wrap;
   width: 700px;
   color: #1F2937;
 }

 .quote {
   font-size:36px ;
   font-weight: 100;
   font-style: italic;
   
 }

 .customer {
   justify-content: flex-end;
 }

 .big-three {
   background-color:#E5E7EB;
 }

 

 .action{
   display: flex;
   flex-direction: column;
   width: 950px;
   height: 120px;
   justify-content: center;
   align-items: center;
   background-color: #3882F6;
   border-radius: 5px;
   color: #F9FAF8;
 }

 .action-text {
   display: flex;
   width: 600px;
   justify-content: flex-start;
   font-weight: 800;
 }

 .button-text {
   display: flex;
   flex-direction: row;
   width: 600px;
   justify-content: space-between;
   align-items: flex-end;
   margin-top: -5px;
 }

 .action-button {
   border-style: solid;
   border-width: 2px;
   border-color: #F9FAF8;
 }

 .big-four {
   height: 450px;
 }

 .footer {
   display: flex;
   height: 100px;
   justify-content: center;
   align-items: center;
   background-color: #1F2937;
   color: #F9FAF8;
 }
 

 
 